In [1]:
%run initialise.py

In [2]:
intializeSQL()

# 100 random exercises

Lorem Ipsum

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
import pandas as pd 
engine.execute('DROP TABLE IF EXISTS df1;') 
engine.execute('DROP TABLE IF EXISTS df2;') 
url1 = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/12-31-2020.csv" 
url2 = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/12-27-2020.csv"
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df1.to_sql('df1',con=engine)
df2.to_sql('df2',con=engine)

In [8]:
pickSQL()

2. find all the records in df1 where deaths are greater than 50,000

In [11]:
df1.head(5)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-01 05:23:07,33.93911,67.709953,51526,2191,41727,0.0,Afghanistan,0.000000,4.252222
1,NaN,NaN,NaN,Albania,2021-01-01 05:23:07,41.15330,20.168300,58316,1181,33634,23501.0,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-01 05:23:07,28.03390,1.659600,99610,2756,67127,29727.0,Algeria,227.155372,2.766790
3,NaN,NaN,NaN,Andorra,2021-01-01 05:23:07,42.50630,1.521800,8049,84,7432,533.0,Andorra,10417.394681,1.043608
4,NaN,NaN,NaN,Angola,2021-01-01 05:23:07,-11.20270,17.873900,17553,405,11044,6104.0,Angola,53.407342,2.307298

In [26]:
engine.execute(
    '''
    select Country_Region, Deaths from df1
    where Deaths > 40000
    union
    select Country_Region, Deaths from df2
    where Deaths > 40000
    '''
).fetchall()

[('Argentina', 42650),
 ('Argentina', 43245),
 ('Brazil', 45863),
 ('Brazil', 46717),
 ('France', 62382),
 ('France', 64267),
 ('India', 49255),
 ('India', 49463),
 ('Iran', 54693),
 ('Iran', 55223),
 ('Peru', 41907),
 ('Peru', 42125),
 ('United Kingdom', 61697),
 ('United Kingdom', 64118)]

In [ ]:
# combine sql statement with a python workout question